In [5]:
#import pandas 
import pandas as pd
#read csv file
df = pd.read_csv("https://raw.githubusercontent.com/gegeli638/DAV-5400/master/bridges.data.version1", header = None)
df.columns = ['Identif', 
                'River',
                'Location',
                'Erected', 
                'Purpose',
                'Length',
                'Lanes',
                'Clear-G',
                'T-OR-D',
                'Material',
                'Span',
                'REL-L',
                'Type']
#check the column name are correct
df.head()

,Identif,River,Location,Erected,Purpose,Length,Lanes,Clear-G,T-OR-D,Material,Span,REL-L,Type
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD

#### Task 1
Firstly, groupby the data by River,Purpose and Material. Then count the number of 'River' column. So we can get the answer.

In [6]:
#gruopby the data
task1 = df.groupby(['River','Purpose', 'Material'])
#count the River number
task1['River'].count()

River  Purpose   Material
A      AQUEDUCT  IRON         1
                 WOOD         3
       HIGHWAY   ?            1
                 IRON         2
                 STEEL       21
                 WOOD         8
       RR        IRON         1
                 STEEL        9
                 WOOD         2
       WALK      STEEL        1
M      HIGHWAY   IRON         4
                 STEEL       19
                 WOOD         3
       RR        IRON         2
                 STEEL       13
O      HIGHWAY   ?            1
                 IRON         1
                 STEEL        9
       RR        STEEL        4
Y      HIGHWAY   STEEL        2
       RR        STEEL        1
Name: River, dtype: int64

#### Task 2
Change the data type of the Length column. Then gruopby the data by 'Purpose' and 'Material'. Calculate the mean value of Length.

In [12]:
#change the Length column into numeric type
df['Length'] = pd.to_numeric(df['Length'], errors='coerce')
#gruop by the data and show the averange of Length
task2= df.groupby(['Purpose', 'Material'])
task2['Length'].mean()

Purpose   Material
AQUEDUCT  IRON        1000.000000
          WOOD        1092.000000
HIGHWAY   ?                   NaN
          IRON        1216.666667
          STEEL       1557.804348
          WOOD        1053.375000
RR        IRON        1100.000000
          STEEL       1946.850000
          WOOD                NaN
WALK      STEEL               NaN
Name: Length, dtype: float64

#### Task 3
Firstly, cut the Erected of the data into four bins. Then group the data by this range. Calculate the mean, count, max and min value of the Length.

In [13]:
#cut the Erected of the data into four bins
bins = [1810.0, 1860.0, 1902.0, 1944.0, 1986.0]
range = pd.cut(df['Erected'], bins)
#gruop by the data by this range and describe the statistic
task3 = df.groupby(range)
task3['Length'].agg(['mean','count','max','min'])

                         mean  count     max     min
Erected
(1810.0, 1860.0]  1094.625000      8  1500.0   990.0
(1860.0, 1902.0]  1603.347826     23  4558.0  1000.0
(1902.0, 1944.0]  1676.181818     33  3000.0   860.0
(1944.0, 1986.0]  1530.411765     17  3756.0   804.0